/*
Really Simple styles
*/

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}
*:focus {
	outline:0;
}
body {
    margin: 0;
    font-family: sans-serif;
    line-height: 1.6; /* ~ Golden Ratio */
    color: #555;
}
h1, h2 {
    color: #3b8
}
.title {
    margin-bottom: 40px;
    background: #5da
}
.title h1, .title h3 {
    color: #555;
    text-shadow: 0 1px 2px #fff
}
.title a {
    color: #fff;
    text-shadow: none
}
a {
    color: #2af;
    text-decoration: none
}
a:hover {
    text-decoration: underline
}
pre {
    margin: 40px 0;
    padding: 20px;
    background: #555;
    color: #fc0;
    text-shadow: 0 0 5px #000;
    box-shadow: inset 0 0 5px #000;
    overflow-x: auto
}
hr {
    clear: both;
    margin: 40px 0;
    border: none;
    height: 1px;
    background: #ccc
}
.sidebar ul {
    list-style-type: none;
    padding: 0
}
.sidebar li {
    margin: 10px 0
}

/*
Really Simple Grid Sysrem
*/

.grid img {
		max-width: 100%;
		height: auto;
}
.grid {
    width: 100%;
    margin: auto;
    padding: 0 10% 2rem 10%;
}
.example > div {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    box-shadow: inset 0 0 1px #555
}
.grid:after {
    content: "";
    display: table;
    clear: both;
}
@media (min-width: 40rem) {
    .grid .grid {
        padding: 2rem 0;
    }
    .grid > div {
        float: left;
        padding: 0 1rem;
    }
    .grid .full {
        width: 100%
    }
    .grid .half {
        width: 50%;
    }
    .grid .third {
        width: 33.333333333333%;
    }
    .grid .two-thirds {
        width: 66.666666666667%;
    }
    .grid .quarter {
        width: 25%;
    }
    .grid .three-quarters {
        width: 75%;
    }
}
@media (min-width: 80rem) {
    .grid {
        width: 75rem;
        margin: auto;
        padding: 0
    }
    .grid .grid {
        width: 100%
    }
}