// Images
.lightbox-thumbnail {
  border: 5px solid #fff;
  box-shadow: 0 1px 2px #bbb;
  transition: all 0.3s;
  &:hover {
    box-shadow: 0 0 6px #29e;
  }
}

// Lightbox Overlay
.lightbox-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: #000;
  cursor: pointer;
}

// Lightbox Loading icon
.lightbox-loading {
  position: fixed;
  width: 100px;
  height: 94px;
  z-index: 1001;
  font: italic 24px/74px "Helvetica Neue", Arial, sans-serif;
  color: #77f;
  text-align: center;
  cursor: pointer;
}

// The Lightbox
.lightbox {
  position: fixed;
  // Center the lightbox in the window
  opacity: 0;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  // Start the lightbox with zero width and height
  width: 0;
  height: 0;
  z-index: 1002;
  padding-top: 10px;
  font-family: Helvetica Heue, Arial, sans-serif;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 1.0);
  // Lightbox title
}

.lightbox-title {
  //float: left;
  padding: 5px 10px 10px 15px;
  text-align: left;
  opacity: 0;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  display: block;
  background-color: #ffffff;
  color: #000000;
  span {
    margin: 0;
  }
}

// Lightbox group navigation (prev / next)
.lightbox-nav {
  width: 160px;
  padding: 0 5px 5px 10px;
  float: right;
  opacity: 0;
  background-color: #fff;
  a#close {
    float: right;
    padding: 5px 10px;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    color: #000;
    background-color: #fff;
    cursor: pointer;
  }
  span {
    padding: 3px 0;
    color: #000000;
    font-size: 16px;
  }
  a#next,
  a#prev {
    margin: -8px 2px 0;
    padding: 5px 10px;
    font-size: 16px;
    text-decoration: none;
    color: #000;
    background-color: #fff;
    cursor: pointer;
  }
  a#close:hover,
  a#next:hover,
  a#prev:hover {
    color: #777;
  }
}

// Lightbox image
.lightbox img {
  opacity: 0; // Image starts as invisible, and is faded in when lightbox size is complete
  margin: 0 10px;
  padding: 0;
}