.lightbox-thumbnail {
  border: 5px solid #fff;
  box-shadow: 0 1px 2px #bbb;
  transition: all 0.3s; }
  .lightbox-thumbnail:hover {
    box-shadow: 0 0 6px #29e; }

.lightbox-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: #000;
  cursor: pointer; }

.lightbox-loading {
  position: fixed;
  width: 100px;
  height: 94px;
  z-index: 1001;
  font: italic 24px/74px "Helvetica Neue", Arial, sans-serif;
  color: #77f;
  text-align: center;
  cursor: pointer; }

.lightbox {
  position: fixed;
  opacity: 0;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  width: 0;
  height: 0;
  z-index: 1002;
  padding-top: 10px;
  font-family: Helvetica Heue, Arial, sans-serif;
  background-color: #fff;
  box-shadow: 0 0 5px black; }

.lightbox-title {
  padding: 5px 10px 10px 15px;
  text-align: left;
  opacity: 0;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  display: block;
  background-color: #ffffff;
  color: #000000; }
  .lightbox-title span {
    margin: 0; }

.lightbox-nav {
  width: 160px;
  padding: 0 5px 5px 10px;
  float: right;
  opacity: 0;
  background-color: #fff; }
  .lightbox-nav a#close {
    float: right;
    padding: 5px 10px;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    color: #000;
    background-color: #fff;
    cursor: pointer; }
  .lightbox-nav span {
    padding: 3px 0;
    color: #000000;
    font-size: 16px; }
  .lightbox-nav a#next,
  .lightbox-nav a#prev {
    margin: -8px 2px 0;
    padding: 5px 10px;
    font-size: 16px;
    text-decoration: none;
    color: #000;
    background-color: #fff;
    cursor: pointer; }
  .lightbox-nav a#close:hover,
  .lightbox-nav a#next:hover,
  .lightbox-nav a#prev:hover {
    color: #777; }

.lightbox img {
  opacity: 0;
  margin: 0 10px;
  padding: 0; }
